/********** Template CSS FasilBook **********/
:root {
    --primary: #2FB95D; /* Hijau Lapangan Futsal */
    --secondary: #343A40; /* Abu-abu Gelap */
    --light: #F1F8F4; /* Putih Kehijauan */
    --dark: #212529; /* Hitam Teks */
}

body {
    font-family: 'Roboto', sans-serif;
    color: #666565;
    background-color: white;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: #24934a;
    border-color: #24934a;
}

.text-primary {
    color: var(--primary) !important;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.hero-header {
    background: linear-gradient(rgba(15, 23, 43, .85), rgba(15, 23, 43, .85)), url('../img/bg-hero.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
